.App{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    background-color:var(--VeryDarkBlue);
}
.App h1{
    letter-spacing: 10px;
}
.App section{
    width:60%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1em;
    position:relative;
    bottom:200px;
}
.App footer{
    width:100%;
    height:200px;
    position:absolute;
    bottom:0px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url("./images/pattern-hills.svg");
    background-size:100% 100%;
}
footer ul{
    display:flex;
    list-style-type:none;
    gap:2em;
}