@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
:root{
  /*primary colors*/
  --GrayishBlue: hsl(237, 18%, 59%);
  --SoftRed: hsl(345, 95%, 68%);

  /*neutral colors*/
  --White: hsl(0, 0%, 100%);
  --DarkDesaturatedBlue: hsl(236, 21%, 26%);
  --VeryDarkBlue: hsl(235, 16%, 14%);
  --VeryDarknessBlue: hsl(234, 17%, 12%);
}
body{
  height:100vh;
  display:grid;
  place-items:center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight:700;
  color:var(--White);
}
